{% extends 'base.html.twig' %}

{% block title "Créer un utilisateur" %}

{% block body %}

    <h1 class="mb-5">Créer un nouvel utilisateur</h1>

    <div class="container-fluid">
        {{ form(form) }}
    </div>
{% endblock %}