<p>
    Bienvenue sur <strong>MonSite</strong>, {{ data.lastname }} !
</p>
<p>Récapitulatif de vos données enregistrées : </p>
<ul>
    <li>Nom : {{ data.firstname }} </li>
    <li>Prenom : {{ data.lastname }} </li>
    <li>mail : {{ data.email }} </li>
</ul>
